@import "variable";

/* typography */

.headline {
	&-h2 {
		font-size: 1.5em;
		text-transform: uppercase;
		color: $color-deepkgrey;
		font-weight: bold;
		margin-bottom: 3rem;
	}
}

/* card */

.card {
	padding: 1rem;
  border: 1px solid lighten($color-ultralightgray, .5);
  border-right: 0;

  &:hover {
  	cursor: pointer;
  	@include box-shadow;
  }

	&-caption{
		font-size: .85rem;
		font-style: italic;
		color: $color-deepkgrey;
	}

	&-price {
		color: $color-red;
	}

	&-footer {
    padding: .75rem 0;
	}
}

/* custom form */

.form {
	&-label {
		font-size: 1em;
		font-color: $color-deepkgrey;
	}

	&-samll {
		font-size: .75rem;
		font-style: italic;
		font-family: $color-lightgrey;
	}
}