@import "variable";

/* typography */

.headline {
	&__h2 {
		font-size: 1.75em;
		text-transform: uppercase;
		color: $color-deepkgrey;
		font-weight: bold;
		margin-bottom: 3rem;
	}
}

/* card */

.card {
	padding: 1rem;

	&__imgbox{

	}

	&__caption{

	}

	&__price {
		
	}

	&__footer {

	}
}