@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/*		colors		*/
$color-red: #f34949;
$color-ultralightgray: #dedede;
$color-lightgrey: rgb(180, 180, 180);
$color-middlegrey: #e3e1e1;
$color-darkgrey: rgb(85, 85, 85);
$color-deepkgrey: #3b3b3b;
$color-yellow: #f1df1a;

/*		btn		*/
$btn-color: #d7d5d5;