<p class="header-line">the menu</p>
<section class="row container-maincontent">
	<a class="mainprice col-lg-6" *ngFor="let dishItem of dish" [routerLink]="['/fullrecipe', dishItem.id]">
		<article class="d-flex justify-content-between align-items-end">
			<h4 class="mainprice-title">{{dishItem.dishName}}</h4>
			<div class="mainprice-line"></div>
			<p class="mainprice-price">${{dishItem.dishPrice}}</p>
		</article>
		<p class="mainprice-subtitle">
			{{dishItem.dishDescription}}
		</p>
	</a>
</section>
<div class="d-flex justify-content-center py-5">
	<button type="button" class="btn btn-outline-info">
		load more <i class="fa fa-chevron-down" aria-hidden="true"></i>
	</button>
</div>