<div class="pt-3 pb-3">
	<h2 class="headline-h2">featured dishes</h2>
  <owl-carousel-o [options]="customOptions" class="row">
    <ng-template carouselSlide *ngFor="let topItem of top">
    	<div class="d-flex flex-column col">
    		<div class="card">
    			 <img [src]="topItem.img" alt="topItem.title"/>
				<div class="card-footer d-flex justify-content-between">
					<p class="card-caption">{{topItem.title}}</p>
					<span class="card-price text-right">${{topItem.price}}</span>
				</div>
				<div class="card-rating">
					<i class="fa fa-star fa-star-yellow"></i>
					<i class="fa fa-star fa-star-yellow"></i>
					<i class="fa fa-star fa-star-yellow"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
    	</div>
    </ng-template>
  </owl-carousel-o>
</div>
