<div class="footer">
	<div class="container">
		<div class="row">
			<section class="col-md">
				<p>
					New York Restaurant
					3926 Anmoore Road
					New York, NY 10014
					718-749-1714
				</p>
			</section>
			<section class="col-md">
				<p>
					France Restaurant
					68, rue  de la Couronne
					75002 PARIS
					02.94.23.69.56
				</p>
			</section>
			<section class="col-md">
				<ul>
					<li>Home</li>
					<li>Reservation</li>
					<li>Review</li>
				</ul>
			</section>
			<section class="col-md">
				<img [src]="logopath" class="float-right" alt="footer logo"/>
			</section>
		</div>
	</div>
</div>