@import "variable";

.footer {
	background-color: $color-deepkgrey;
	padding: 100px 0;
	color: #fff;
	font-size: .8em;
	font-weight: 300;
}

.navbar {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-link {
	color: #fff;
	text-transform: capitalize;

	&-first {
		padding-top: 0;
	}
}
